.settingsTable {
    text-align: right;
    width: 100%;
}

span {
    display: block;
    overflow: hidden;
    padding-right:10px;
}

input {
    width: 300px;
}

.debug {
    padding: 10px;
    background-color: white;
    color: black;
    height: 30px;
    width: 300px;
    font-size: 10px;
    position: relative;
}